.signUp{
    position: fixed;
    min-width: 300px;
    min-height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.signUp > .form{
    width: 100%;
}